{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'taggit_labels/css/taggit_labels.css' %}">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-10 mx-auto">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit">Gönder</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'taggit_labels/js/taggit_labels.js' %}"></script>
{% endblock %}
