{% extends 'layout.html' %}


{% block body %}
    <div class="card p-5">
        {% for post in posts %}
            <article class="itemlist">
                <div class="row row-sm">
                    <aside class="col-sm-3">
                        <div class="img-wrap"><img src="https://via.placeholder.com/160" class="img-md"></div>
                    </aside> <!-- col.// -->
                    <div class="col-sm-6">
                        <div class="text-wrap">
                            <h4 class="title">{{ post.title|truncatechars:39 }}</h4>
                            <p>{{ post.content|truncatechars:185 }}</p>
                            <p class="rating-wrap my-0 text-muted">
                                <span class="label-rating"> {{ post.created_date }} </span>
                                <span class="label-rating"> {{ post.author }} </span>
                            </p> <!-- rating-wrap.// -->
                        </div> <!-- text-wrap.// -->
                    </div> <!-- col.// -->
                    <aside class="col-sm-3">
                        <div class="border-left pl-3">
                            <div class="price-wrap">
                                <span class="h3 price">Fiyat</span>
                                <del class="price-old">Eski Fiyat</del>
                            </div> <!-- info-price-detail // -->
                            <p class="text-success">Kargo bilgisi</p>
                            <p>
                                <a href="#" class="btn btn-warning">Satın Al</a>
                                <a href="{% url 'product-detay' post.pk %}" class="btn btn-light">Ayrıntılar</a></p>
                        </div> <!-- action-wrap.// -->
                    </aside> <!-- col.// -->
                </div> <!-- row.// -->
            </article> <!-- itemlist.// -->
            <hr>
        {% empty %}
            Kayıtlı öğe bulunamadı.
        {% endfor %}
    </div>

{% endblock %}



