<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'anasayfa' %}">Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'anasayfa' %}">Ana Sayfa <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'product-listele' %}">Ürün Listesi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'product-ekle' %}">Ekle</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user-profil' %}">Profil - {{ user.get_username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user-cikis' %}">Üye Çıkış</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user-giris' %}">Üye Giriş</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user-kayit' %}">Kayıt Ol</a>
                </li>
            {% endif %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </div>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Arama Yap" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ara</button>
    </form>
</nav>